/* common css  */
body {
}
/* common css  */

#draggable {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  background-color: lightslategray;
  cursor: move;
}
/* dropable  */
#droppable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  float: left;
  margin: 10px;
}
#draggable,
#draggable-nonvalid {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}
/* Selectable */
#feedback {
  font-size: 1.4em;
}
#selectable .ui-selecting {
  background: #feca40;
}
#selectable .ui-selected {
  background: #f39814;
  color: white;
}
#selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}
#selectable li {
  margin: 4px;
  padding: 0.2em;
  font-size: 1.4em;
}
/* sortable  */
.column {
  width: 170px;
  float: left;
  padding-bottom: 100px;
}
.portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em;
}
.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
  /* cursor: pointer; */
}
.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
  cursor: pointer;
}
.portlet-content {
  padding: 0.4em;
}
.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

/* dropAble  start  */
#gallery {
  float: left;
  width: 65%;
  min-height: 12em;
}
.gallery.custom-state-active {
  background: #eee;
}
.gallery li {
  float: left;
  width: 96px;
  padding: 0.4em;
  margin: 0 0.4em 0.4em 0;
  text-align: center;
}
.gallery li h5 {
  margin: 0 0 0.4em;
  cursor: move;
}
.gallery li a {
  float: right;
}
.gallery li a.ui-icon-zoomin {
  float: left;
}
.gallery li img {
  width: 100%;
  cursor: move;
}

#trash {
  float: right;
  width: 32%;
  min-height: 18em;
  padding: 1%;
}
#trash h4 {
  line-height: 16px;
  margin: 0 0 0.4em;
}
#trash h4 .ui-icon {
  float: left;
}
#trash .gallery h5 {
  display: none;
}
/* dropAble  end  */
/* resizable start  */
#resizable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}
#resizable h3 {
  text-align: center;
  margin: 0;
}
.ui-resizable-helper {
  border: 1px dotted gray;
}
/* resizable end  */

/* accordion start  */
/* accordion end  */

/* Checkboxradio start  */

/* Checkboxradio end */
/* Datepicker start  */
/* Datepicker end  */
/* dialog start  */
#dialog label,
#dialog input {
  display: block;
}
input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: 0.4em;
}
fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}
h1 {
  font-size: 1.2em;
  margin: 0.6em 0;
}
div#users-contain {
  width: 350px;
  margin: 20px 0;
}
div#users-contain table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
}
div#users-contain table td,
div#users-contain table th {
  border: 1px solid #eee;
  padding: 0.6em 10px;
  text-align: left;
}
.ui-dialog .ui-state-error {
  padding: 0.3em;
}
.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
}
/* dialog end  */
/* menu start  */
.ui-menu {
  width: 150px;
}
/* menu end  */
/* Progressbar start  */
.ui-progressbar {
  position: relative;
  /* background-color: #f39814; */
}
.progress-label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000000;
}
/* Progressbar end  */
/* selectmenu start  */
.selectmenu fieldset {
  border: 0;
  margin-left: 300px;
}
.selectmenu label {
  display: block;
  margin: 20px 0 0 0;
}

#circle {
  float: left;
  background: rgb(233, 97, 97);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
/* selectmenu end*/
/* slider start */
/* slider end */
/* effect start  */
.toggler {
  margin-bottom: 10px;
  width: 500px;
  height: 200px;
  position: relative;
}

#effect {
  width: 240px;
  height: 200px;
  padding: 0.4em;
  position: relative;
}
#effect h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
}
.ui-effects-transfer {
  border: 2px dotted gray;
}
/* effect end  */
